/***** Reset *****/  
*{
    margin: 0;
    padding: 0;
    box-sizing :  border-box;
}

/***** Body HTML *****/  
body{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    font-family: sans-serif;
    margin-top: 1rem;
    margin: 2rem;
    background-color : #4C0070;
    font-family:'Courier New', Courier, monospace;
    
}

h1{
    color: #9168a8;
    font-family: 'Metal Mania', display, sans-serif;
    font-size: 4rem;
}

h2{
    font-family:'Courier New', Courier, monospace;
    text-shadow: #31223a 5px 5px 5px;
}

footer{
    margin-top: 1rem;
    color: #9168a8;
    font-family: 'Metal Mania', display, sans-serif;
    font-size: large;
}

i{
    color:#9168a8
}

/***** End Body HTML *****/  

/***** Modal*****/ 

.modal-container{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    transition: visibility 0,6s 

}

.modal-container.active{
    /*display: block;*/
    visibility: visible;
    transition: visibility 0,4s 
}



.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #453950d3;
    transition: opacity 0.4s 0.2s ease-out; 
}

.modal-container.active .overlay{
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.modal {
    width: 95%;
    max-width: 600px;
    min-width: 400px;
    padding: 2rem;
    background-color: #4C0070;
    color : #b887d4; 
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left:50%;
   transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.4s ease-out; 
    

}

.modal-container.active .modal{
    opacity: 1;
    transition: opacity 0.4s 0.2s ease-out;
}

.close-modal{
    padding: 0.2rem 0.6rem;
    border: none;
    border-radius: 5%;
    font-size: 1rem;
    position: absolute;
    top : 0.6rem;
    right : 0.6rem;
    cursor: pointer; 
    background-color: #4c945b;
    color: white;

}

.close-modal:hover{
    background-color: #33663e;  
}

/*****End Modal *****/  

/***** Grille *****/  

#grid{
    display: grid; 
    grid-template-columns: repeat(3, 8rem);
    grid-template-rows: repeat(3, 8rem);
    gap: 1rem;
    margin: 1rem auto 1rem;
}

.case{
    border: 1px solid #4c945b;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

img{
    width : 12vw;
    height : 12vh;
    max-width : 150px;
    max-height : 150px;
}

/***** End Grille *****/


/***** Section des Scores *****/  
#score{
    color: #ca45b2;
}

p{
    margin-bottom: 1rem;
    font-size: 1.2rem;

}

#icone-player{
    width: 2rem;
    height: 2rem;
}

#restartBtn{
    padding: 0.8rem;
    border-radius: 0.3em;
    background-color: #4c945b;
    border: none;
    margin-left: 200px; 
    color: white;
    font-size: x-large;
    font-family: 'Metal Mania', display, sans-serif;
    cursor: pointer; 
}

#restartBtn:hover{
    background-color: #33663e;  
}

/***** End Section *****/

/***** Section du tour *****/  

#round{
    color: #4c945b;
    margin-top : 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
    font-weight: 600;
}

/***** End Section Tour *****/


/***** Medias Queries *****/  

@media (min-width: 320px) and (max-width: 575.98px) {
    #grid {
        width: 100%;
        gap : 0.2rem;
        grid-template-columns: repeat(3, 4rem);
        grid-template-rows: repeat(3, 4rem);
        margin: 0.5rem 10rem 0.5rem;
        
    }

    img{
        width : 7vw;
        height : 7vh;
    }


    #score {
        margin-left : 10rem;
    }

    p{
        font-size: 0.8rem;
    
    }

    #icone-player{
        width: 1rem;
        height: 1rem;
    }

    #restartBtn{
        padding: 0.4rem;
        margin-left: 0;
        font-size: medium;
    }

    h1{
    
        font-size: 2rem;
    }

    footer{
        font-size: x-small;
    }

    .modal {
        width: 95%;
        max-width: 260px;
        min-width: 150px;
        padding: 1rem;
    }

    .close-modal{
        padding: 0.1rem 0.3rem;
        font-size: 0.5rem;       
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #grid #round #score {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1400px) {
    #grid #round #score {
        width: 100%;
    }

    footer{
        margin : 25rem;
    }
}

