/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing :  border-box;
}

body{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    font-family: sans-serif;
    margin: 2rem;
    background-color : #4C0070;
    font-family:'Courier New', Courier, monospace;
    
}

h1{
    color: #9168a8;
    font-family: 'Metal Mania', display, sans-serif;
    font-size: 4rem;
}

footer{
    margin-top: 2rem;
    color: #9168a8;
    font-family: 'Metal Mania', display, sans-serif;
    font-size: large;
}

#grid{
    display: grid; 
    grid-template-columns: repeat(3, 8rem);
    grid-template-rows: repeat(3, 8rem);
    gap: 1rem;
    margin: 1rem auto 3rem;
}

.case{
    border: 1px solid #4c945b;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

img{
    width : 12vw;
    height : 12vh;
    max-width : 150px;
    max-height : 150px;
}

p{
    margin-bottom: 1rem;
    font-size: 1.5rem;

}

#score{
    color: #ca45b2;
}


#round{
    color: #4c945b;
    margin-top : 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}